.pf-icon-large {
    width: 8rem;
    height: 8rem;
    margin: 0.5rem !important
}

.pf-icon-medium {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem !important
}

.pf-icon-small {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem !important
}

.pf-v-center {
   display: flex;
   align-items: center;
}  

.pf-flex-right {
    justify-content: flex-end;
 }  

.pf-highlight-element:hover {
    opacity: 0.7;
}

.image-hover-highlight {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
}

.image-hover-highlight:hover {
    filter: drop-shadow(1px 1px 0.3rem #813B9B);
    -webkit-filter: drop-shadow(1px 1px 0.3rem #813B9B);
    -moz-filter: drop-shadow(1px 1px 0.3rem #813B9B);
    -o-filter: drop-shadow(1px 1px 0.3rem #813B9B);
    -ms-filter: drop-shadow(1px 1px 0.3rem #813B9B);
    -webkit-transition: all 0.16s;
    transition: all 0.16s;
}

.image-hover-highlight:active {
    filter: drop-shadow(1px 1px 0.4rem #782297);
    -webkit-transition: all 0.16s;
    transition: all 0.16s;
}